<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                        class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                        alt="Sample photo"> -->
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

                        <form class="px-md-2">

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" id="form3Example1q" [(ngModel)]="employeeObj.CompanyName" name="CompanyName" class="form-control" />
                                <label class="form-label" for="form3Example1q">Company Name</label>
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1q" [(ngModel)]="employeeObj.EmailId" name="EmailId" class="form-control" />
                                        <label class="form-label" for="form3Example1q">Email</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1q" [(ngModel)]="employeeObj.MobileNo" name="MobileNo" class="form-control" />
                                        <label class="form-label" for="form3Example1q">Mobile</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1q" [(ngModel)]="employeeObj.PhoneNo" name="PhoneNo" class="form-control" />
                                        <label class="form-label" for="form3Example1q">Phone</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-6">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1q" [(ngModel)]="employeeObj.LogoURL" name="LogoURL" class="form-control" />
                                        <label class="form-label" for="form3Example1q">Company URL</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-6">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1q" [(ngModel)]="employeeObj.GstNo" name="GstNo" class="form-control" />
                                        <label class="form-label" for="form3Example1q">GST No.</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1q" [(ngModel)]="employeeObj.City" name="City" class="form-control" />
                                        <label class="form-label" for="form3Example1q">City</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1q" [(ngModel)]="employeeObj.State" name="State" class="form-control" />
                                        <label class="form-label" for="form3Example1q">State</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="form3Example1q" [(ngModel)]="employeeObj.PinCode" name="PinCode" class="form-control" />
                                        <label class="form-label" for="form3Example1q">PinCode</label>
                                    </div>
                                </div>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <textarea id="form3Example1q" [(ngModel)]="employeeObj.CompanyAddress" name="CompanyAddress" class="form-control"></textarea>
                                <label class="form-label" for="form3Example1q">Address</label>
                            </div>
                            

                            <div class="d-flex justify-content-center">
                                <button (click)="register()" type="submit" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-success btn-sm">Submit</button>
                            </div>
                            

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>